
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    //the following are search options

    @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Search" />
}
