@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "StudentDashboard";

}


<div class="container-fluid page__container mt-5">

    
    <div>
        @Html.Action("ResumeCourse", "Home", new { UserId = User.Identity.GetUserId() })
    </div>

    <hr />
    <div>

        @Html.Action("FeaturedCourse", "Home", new { UserId = User.Identity.GetUserId() })
    </div>


</div>

