
@{
    ViewBag.Title = "StudentCourse";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}


@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

<div class="container card border-left-3 border-left-primary card-2by1">
    <div class="card-body">
        <div class="media flex-wrap align-items-center">

            <div class="media-body" style="min-width: 180px">
                <h4> <strong>Java Programming Masterclass Full Course - Become a Programmer</strong></h4>
                <br>
                <h6>
                    Learn java in this course and become a computer programmer, obtain valuable core java skills and java certification
                </h6> <br>
                <h6>Level: <strong> Beginner</strong></h6>
                <h6>Year: <strong> 2019</strong></h6>
            </div>
            <div class="media-right mt-2 mt-xs-plus-0">
                <img class="img-thumbnail" src="~/assets/images/vuejs.png" alt="Italian Trulli">
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row">

        <div class="col-lg-9">
            <h4 class="fonts">What will you learn</h4>

            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            1 of 2
                        </div>
                        <div class="col">
                            2 of 2
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            1 of 2
                        </div>
                        <div class="col">
                            2 of 2
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            1 of 2
                        </div>
                        <div class="col">
                            2 of 2
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="fonts">Course Outline</h4>
            <p>Section 11 - Videos 48 - Duration 07h 20m</p>
            <div class="card">
                <ul class="card list-group list-group-fit">
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted ml-2">play_circle_filled</i>
                            </div>
                            <div class="media-body">
                                <a href="#">Installation</a>
                            </div>
                            <div class="media-right">
                                <small class="text-muted-light">2:03</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons text-muted ml-2">play_circle_filled</i>
                            </div>
                            <div class="media-body">
                                <a class="text-white"
                                   href="#">The MVC architectural pattern</a>
                            </div>
                            <div class="media-right">
                                <small>25:01</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-left">
                                    <i class="material-icons text-muted ml-2">play_circle_filled</i>
                                </div>
                            </div>
                            <div class="media-body">
                                <a href="#">Database Models</a>
                            </div>
                            <div class="media-right">
                                <small class="text-muted-light">12:10</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-left">
                                    <i class="material-icons text-muted ml-2">play_circle_filled</i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">Database Access</div>
                            </div>
                            <div class="media-right">
                                <small class="badge badge-primary ">PRO</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-left">
                                    <i class="material-icons text-muted ml-2">play_circle_filled</i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">Eloquent Basics</div>
                            </div>
                            <div class="media-right">
                                <small class="badge badge-primary ">PRO</small>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-left">
                                    <i class="material-icons text-muted ml-2">play_circle_filled</i>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="text-muted-light">Take Quiz</div>
                            </div>
                            <div class="media-right">
                                <small class="badge badge-primary ">PRO</small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <h4 class="fonts">Links</h4>

            <div class="card">
                <div class="card-header align-items-center">
                    <i class="material-icons text-muted ml-2">lightbulb </i><a> Take Quiz</a>
                </div>
                <div class="card-header align-items-center">
                    <i class="material-icons text-muted ml-2">assignment</i><a>  Get Assignment</a>
                </div>
                <div class="card-header align-items-center">
                    <i class="material-icons text-muted ml-2">school</i><a>  Get Certificate</a>
                </div>
            </div>


        </div>
    </div>
</div>
</div>

