
@{
    ViewBag.Title = "StudentDashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<div class="container-fluid page__container mt-5">

    <div class="media mb-headings align-items-center mt-5">
        <div class="media-body mt-5">
            <h1 class="h2">My Resume Courses</h1>
        </div>

    </div>
    <div class="card-columns">
        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="~/assets/images/vuejs.png"
                                 alt="Card image cap"
                                 width="100"
                                 class="rounded">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title m-0"><a href="student-take-course.html">Learn VueJs the easy way!</a></h4>
                        <small class="text-muted">Lessons: 3 of 7</small>
                    </div>
                </div>
            </div>
            <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped bg-primary"
                     role="progressbar"
                     style="width: 40%"
                     aria-valuenow="40"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="card-footer bg-white">
                <a href="#"
                   class="btn btn-primary btn-sm">Continue <i class="material-icons btn__icon--right">play_circle_outline</i></a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="~/assets/images/gulp.png"
                                 alt="Card image cap"
                                 width="100"
                                 class="rounded">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title m-0"><a href="#">Npm &amp; Gulp Advanced Workflow</a></h4>
                        <small class="text-muted">Lessons: 7 of 7</small>
                    </div>
                </div>
            </div>
            <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped bg-success"
                     role="progressbar"
                     style="width: 100%"
                     aria-valuenow="100"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="card-footer bg-white ">
                <a href="#"
                   class="btn btn-success btn-sm">Completed <i class="material-icons btn__icon--right">check</i></a>
                <a href="#"
                   class="btn btn-white btn-sm">Restart <i class="material-icons btn__icon--right">replay</i> </a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="~/assets/images/github.png"
                                 alt="Card image cap"
                                 width="100"
                                 class="rounded">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title m-0"><a href="#">Github Webhooks for Beginners</a></h4>
                        <small class="text-muted">Lessons: 8 of 10</small>
                    </div>
                </div>
            </div>
            <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped bg-primary"
                     role="progressbar"
                     style="width: 80%"
                     aria-valuenow="80"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="card-footer bg-white">
                <a href="#"
                   class="btn btn-primary btn-sm">Continue <i class="material-icons btn__icon--right">play_circle_outline</i></a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img src="~/assets/images/gulp.png"
                                 alt="Card image cap"
                                 width="100"
                                 class="rounded">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title m-0"><a href="#">Gulp and Slush</a></h4>
                        <small class="text-muted">Lessons: 5 of 7</small>
                    </div>
                </div>
            </div>
            <div class="progress rounded-0">
                <div class="progress-bar progress-bar-striped bg-primary"
                     role="progressbar"
                     style="width: 56%"
                     aria-valuenow="56"
                     aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="card-footer bg-white">
                <a href="#"
                   class="btn btn-primary btn-sm">Continue <i class="material-icons btn__icon--right">play_circle_outline</i></a>
            </div>
        </div>


    </div>

    <!-- Pagination -->
    <ul class="pagination justify-content-center pagination-sm">
        <li class="page-item disabled">
            <a class="page-link"
               href="#"
               aria-label="Previous">
                <span aria-hidden="true"
                      class="material-icons">chevron_left</span>
                <span>Prev</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link"
               href="#"
               aria-label="1">
                <span>1</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="#"
               aria-label="1">
                <span>2</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
               href="#"
               aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true"
                      class="material-icons">chevron_right</span>
            </a>
        </li>
    </ul>




    <div class="media mb-headings align-items-center">
        <div class="media-body">
            <h1 class="h2">Feature Courses</h1>
        </div>

    </div>

    <div id="carouselId" class="carousel slide" data-type="carousel">
        <!--
        <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide="prev"></li>
            <li data-target="#carouselId" data-slide="next"></li>

        </ol>
        -->
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_90-jiang-640827-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_clem-onojeghuo-150467-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_sharina-mae-agellon-377466-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_karl-s-973833-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_florian-perennes-594195-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_james-gillespie-714755-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/256_rsz_nicolas-horn-689011-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm">
                    <div class="position-relative">
                        <div class="card-img-top">
                            <img src="~/assets/images/265_rsz_mubariz-mehdizadeh-364026-unsplash.jpg"
                                 class="card-img-top"
                                 alt="">
                        </div>

                    </div>
                    <div class="card-body d-flex">
                        <div class="flex">
                            <small class="text-muted">November 10, 2018</small>
                            <h5 class="card-title m-0"><a href="">Learn How To Operate a JVC Cameradawdaw</a></h5>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            @*<span class="carousel-control-prev-icon" aria-hidden="true"></span>*@
            <span class="carousel-control-prev-icon icofont-simple-left " aria-hidden="true"><i class="fas fa-caret-left"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next ml-5" href="#carouselId" role="button" data-slide="next">
            @*<span class="carousel-control-next-icon" aria-hidden="true"></span>*@
            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"><i class="fas fa-caret-right"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
