
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="mdk-drawer-layout__content page">

    <div class="card-body">
        <div class="media flex-wrap align-items-center">



            <div class="media-left">
                <h2>Categories</h2>
                @Html.Action("CategoryList", "Admin")
            </div>

        </div>
    </div>


    <div class="clearfix"></div>


</div>


