<div class="modal fade" id="editModal">
    <div class="modal-dialog" style=" margin-top: 13%;margin-left: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Category Details</h4>
                <button type="button" class="close ml-2" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <input type="hidden" name="name" id="catId" value="@ViewBag.CatId" />
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label form-label">Category Name</label>
                    <div class="col-md-6">
                        <input id="catName" type="text" class="form-control" value="@ViewBag.check" name="Catname" required placeholder="Category Name"><br /><br />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label form-label">Category Image</label>
                    <div class="col-md-6">
                        <input type="file" id="catImage" name="@ViewBag.Image" value="@ViewBag.Image" /><br /><br />
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-default canclebutton" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary ml-2 editCat" type="submit" data-dismiss="modal"><i class="material-icons"></i>Save</button>

                </div>
            </div>
        </div>
    </div>
    </div>

<script>
        $(document).ready(function () {

                $(".editCat").click(function () {
                    var formData = new FormData();
                    var file = document.getElementById("catImage").files[0];
                    formData.append("catImage", file);

                    var Name = $('#catName').val()
                    formData.append("catName", Name);

                    var cid = $('#catId').val()
                    formData.append("catId", cid);
                    $.ajax({
                    type: "POST",
                    url: "/Admin/EditCat",
                    data: formData,
                    processData: false,
                    contentType: false,
                        success: function (response) {
                            //alert("Updated");
                           // console.log(response);
                            $("#row_" + cid).load(" #row_" + cid +" > *");
                        }
                    });




                    //var data = {
                    //     valId : $("#catId").val(),
                    //     valName : $("#CatName").val()
                    //};
                    ////var file = $("#CatImage").files[0];
                    //var fileUpload = $("#CatImage").get(0);
                    //var files = fileUpload.files;


                    //var formData = new FormData();

                    //formData.append("data", JSON.stringify(data));
                    //formData.append("httpPostedFileBase", files);

                    ////var valImg = .val();
                    //alert(file)

                    //$.ajax({
                    //    type: "POST",
                    //    url: "/Admin/EditCat",
                    //    data: formData,
                    //    dataType: 'json',

                    //    success: function (response) {

                    //        alert("Deleted");
                    //        $("#row_" + valdelete).load();

                    //    },
                    //    error: function () {

                    //    }
                    //})


                });
            })
</script>
