

<div class="col-md-12">
    @foreach (var item in (List<String>)ViewBag.Span)
    {<button class="badge rounded-pill bg-primary tagremove" type="button" style="color: white; width: 10%;height: 20%;">@item  </button>

}
</div>

